<%- include('includes/head.ejs') %>
    </head>

    <body>
    <script src="/js/main.js"></script>


    <div class = "p-3 bg-danger text center d-none" id ="error-box">
    </div>

    <div id="NasaFeed">
        <div class="row" >
            <div class="col">
                <div class="col">
                    <p class = "text-start">welcome <code><%= name%></code></p>
                    <form action="/admin/logout" method="GET">
                        <input type = "submit" value = "Log-out"></input>
                    </form>
                    <div class = "col text-center">
                        <form id="date-form" >
                            <label for="date-input" >choose a date</label>
                            <input type = "date" id = "date-input" value="" min="" max = "">
                            <button type = "submit" id ="form-submit" class="btn btn-info">Enter</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class = "col">
                    <div class="container" id = "grid"></div>
                    <div class="text-center">
                        <button type = "submit" id ="moreButton" class="btn btn-info ">More</button></div>
                    <br>
                    <div class = "text-center" id="loading-gif">
                        <img src="/assets/loading.gif" height = "150" width = "170">
                    </div>
                </div>
            </div>
        </div>
    </div>





    <%- include('includes/end.ejs') %>
